/* Estilo dos resultados dos posts - Otávio*/
.box1{
    width: 400px;
    height: 120px;
    border-radius: 15px;
    border: 1px solid #5538EE24;
    box-shadow: 0px 1px 1px #00000029;}
    

.inline{
    position: relative;
    display: inline;
    width: 50px;
    height: 50px;
    top: 5px;
    left: 30px ;}

.imgperfil{
    width: 10px;
    height: 10px;}
   
.modeloimg{
    border-radius: 50%;
    margin: 20px;
    width: 40px;
    max-width:200px;
    max-height:150px;
    }

.bigbox{
    margin-bottom: 120px;
    width: 300px;
    margin:auto;
    position: relative;
    text-align: center;
    display: flex;
    justify-content:center;
    display: flex;}

.textos p{
    display:flex column;
    margin-top:2%;
    margin-bottom:5%;
}
    

.paragrafo{
    display:inline;
    width: 30px;
    height: 25px;
    top: 3px;
    left: 30px ;
    font-size: 11px;
    text-align:left;
   }

.link{
    display: inline;
    width: 15px;
    height: px;
    top: 5px;
    left: 50px ;
    margin:2px;
    
}
  
   

.coluna1{
    position:relative;
    display:flex-direction column;
    margin:15px;}

.coluna2{
    position: relative;
    display:flex-column; 
    float:right;
    margin:15px;}

.paragrafo p{
    margin-left:18%;
    font-family:rubik;
    font-weight: 400;
    font-size: 11px; 


    }

.link a{
    margin-inline-start:-35%;
    color:#354dd1;
    font-family:rubik;
    font-size: 12px;
    text-decoration: none;
    font-weight: 700;
}
  

.inline h3{
    display: inline;
    margin-right:52%;
    font-size:14px;
    font-weight: 700;
    font-family:rubik;
}
    

.inline h6 {
    display: inline;
    margin-left:-62%;
    color: #d8d1d1;
    position: absolute;
    margin-top: 1%;}

    /* fim do estilo dos resultados dos posts - Otávio*/

    /* Inicio do estilo dos resultados das imagens - Otávio*/

.exibindo10 h2{
    color: rgb(40, 40, 201);
    font-family:Rubik;
    font-weight:400;
}

#carosel-items{
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    background: transparent url("../img/Elipse 11.png") 0% 0% no-repeat
    padding-box;
}

.carosel-images {
   /* position: relative;*/
    /*flex-wrap: nowrap;*/
    height:200px;
    width:65%;
    margin:auto;
    margin-bottom: 5%;
    margin-top:5%;
    white-space: nowrap;
    overflow:scroll;
    /*justify-content: center;*/
    scroll-snap-align: start;
}

.carosel-images img{
    flex-wrap: nowrap;
    margin:5px ;
    border-radius:12%;
    width: 150px;
    height: 160px;
    justify-content: center;  
}

.tituloresultado h2{
    color: rgb(57, 57, 207);
    font-family:Rubik;
    font-size: 20px;
    font-weight: 700;
}

    /* fim do estilo de resultados das imagens - Otávio*/
    