/* Estilo dos resultados dos posts - Otávio*/

body {
  margin: 0;
}

.box1 {
  width: 400px;
  height: 120px;
  border-radius: 15px;
  border: 1px solid #5538ee24;
  box-shadow: 0px 1px 1px #00000029;
}

.inline {
  position: relative;
  display: inline;
  width: 50px;
  height: 50px;
  top: 5px;
  left: 30px;
}

.imgperfil {
  width: 10px;
  height: 10px;
}

.modeloimg {
  border-radius: 50%;
  margin: 20px;
  width: 40px;
  max-width: 200px;
  max-height: 150px;
}

.bigbox {
  margin-bottom: 120px;
  width: 300px;
  margin: auto;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  display: flex;
}

.textos p {
  display: flex column;
  margin-top: 2%;
  margin-bottom: 5%;
}

.paragrafo {
  display: inline;
  width: 30px;
  height: 25px;
  top: 3px;
  left: 30px;
  font-size: 11px;
  text-align: left;
}

.link {
  display: inline;
  width: 15px;
  height: px;
  top: 5px;
  left: 50px;
  margin: 2px;
}

.coluna1 {
  position: relative;
  display: flex-direction column;
  margin: 15px;
}

.coluna2 {
  position: relative;
  display: flex-column;
  float: right;
  margin: 15px;
}

.paragrafo p {
  margin-left: 18%;
  font-family: rubik;
  font-weight: 400;
  font-size: 11px;
}

.link a {
  margin-inline-start: -35%;
  color: #354dd1;
  font-family: rubik;
  font-size: 12px;
  text-decoration: none;
  font-weight: 700;
}

.inline h3 {
  display: inline;
  margin-right: 52%;
  font-size: 14px;
  font-weight: 700;
  font-family: rubik;
}

.inline h6 {
  display: inline;
  margin-left: -62%;
  color: #d8d1d1;
  position: absolute;
  margin-top: 1%;
}

/* fim do estilo dos resultados dos posts - Otávio*/

/* Modificações feitas por Gracielle para a implantação do JS */

.dad {
  display: flex;
  width: 100%;
  height: 250px;
  margin-top: 55px;
  align-items: center;
  justify-content: center;
}

.arrow_left {
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 7px 0px rgba(184,175,184,1);
  margin-left: -52px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

#btn {
  justify-content: center;
  align-items: center;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.arrow_right {
  width: 44px;
  height: 44px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 7px 0px rgba(184,175,184,1);
  margin-right: -52px;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.left_right {
  width: 21px;
  margin: 12px;
}

.container_results {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5469f9;
  font-size: 18px;
  font-family: arial;
  font-weight: 900;
  padding-top: 83px;
  text-align: center;
}

.button_click {
  width: 11px;
  height: 11px;
  border-radius: 100%;
  background: #0000002e;
  border: none;
  outline: 0;
  cursor: pointer;
}

.container_images {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0 15px;
  object-fit: cover;
  max-width: 1148px;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-color: indigo;
  margin: 15px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0px 2px 7px 0px rgba(184,175,184,1);
  cursor: pointer;
  
}

.photo:hover{
  filter: grayscale(100%);
  transform: scale(1.1);
}

#click {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul_click {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 66px;
  height: 66px;
}

li{
  width: 100%;
  height: 25px;
}

.modal{

  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .7);
  position: fixed;
  visibility: hidden;
  z-index: 1;
  opacity: 0;
  transition: visibility 0.8s linear, opacity 0.5s linear;   
}

.modal_content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#modal_img{
  width: 65vw;
  height: 100%;
  transform: scale(0);
  transition: all linear .3s;
  object-fit: cover;
}

#bt_close{
  color:#fff;
  background-color: #000;
  position: absolute;
  top:10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 25px;
  border:solid 1px #fff;
  transition: all ease-out .4s;
  cursor: pointer;
}

#bt_close:hover {
  background-color: #f00;
}

.modal_active {
  visibility: visible;
  opacity: 1;
  display: flex;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.text_active {
  opacity: 100%;
}

.modal_active #modal_img {
  transform: scale(1);
}

.text_twitter {
  margin: 0;
  font-size: 27px;
  color: white;
  font-weight: bold;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.text_edition{
  display: grid;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.span_text {
  font-size: 25px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}



/* media query será aplicado quando a
tela ou browser tiver exatos 450 pixels de largura */

@media (max-width:450px) {

  .dad {
      display: flex;
      width: 100%;
      height: 250px;
      margin-top: 0px;
      overflow: scroll;
      justify-content: normal;
  }

 
  .container_results {
   font-size: 21px;
   height: 120px;
   padding-top: 10px;
   text-align: center;
  }

  .ul_click {
      display: none;
  }

  #click {
      display: none;
  }
  
  .arrow_left {
      width: 31px;
      height: 31px;
      margin-left: -37px;
  }

  .arrow_right {
      width: 31px;
      height: 31px;
      margin-right: -36px;
  }

  .left_right {
      width: 17px;
      margin: 8px;
  }
 
 .photo{
      width: 121px;
      object-fit: cover;
      height: 100%;
      border-radius: 15px;
      box-shadow: 0px 2px 7px 0px rgba(184,175,184,1);
      margin: 5px;
  }

  .container_images {
      margin-top: -16px;
      display: inline-flex;
      width: auto;
      height: 180px;
  }

  .span_text {
      font-size: 16px;
  }

  .text_twitter {
      font-size: 17px;
  }

  #modal_img {
      width: 95vw;
  }

  .text_edition {
      bottom: 13px;
      left: 13px;
  }
}

