/*conf header*/
*{
    padding:0;
    margin:0;
    border:0;
    list-style:none;
    box-sizing: border-box;
    }

.top{
    background-image: url(./img/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 422px;
        
}

h1{
    top: 250px;
    left: 140px;
    width: 631px;
    height: 98px;
    bottom: 250px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 140px;
    margin-top: 180px;
    font-family: 'Rubik', sans-serif;
    font-size: 82px;
    font-weight: 700;
}

#logo img {
    top: 40px;
    left: 64px;
    width: 340px;
    height: 42px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-family: Rubik, sans-serif;
    margin-top: 4%;
    margin-left:1%;    
    opacity: 1;
}

.button{
    display: inline-flex;
    float: right;
    margin-right: 15px;
}

.top a{
    text-transform: uppercase;
    text-decoration: none;
    color: #FFF;
    padding-left: 17px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    letter-spacing: 2.55px;
}

#icon-hm{

    width: 170px;
    height: 49px;
    background-color:#D842BD;
    display: flex;
    align-items: center;
    padding-left: 38px;
    border-radius: 25px;
    margin-right: 15px;
    margin-top: -45px;      
}

#icon-lg{

    width: 170px;
    height: 49px;
    background-color: #3633F7;
    display: flex;
    align-items: center;
    padding-left: 38px;
    border-radius: 25px;
    margin-top: -45px;
}
/*corpo*/

#main{
    display: inline-flex;
    float: center;
    margin-block-end: 0%;
    spacing:between;

}
.abstract{
    background: white;
    display: inline-block;
    top: 125%;
    left: 100%;
    width: 50%;
    height: 80%;
    float: left;
    font-family: Rubik, sans-serif;
    text-align: justify;
    letter-spacing: 0.23px;
    color: #292929;
    opacity: 1;
    padding: 3%;
    margin-top: 12%;
    margin-right: 10%;
}

.imgabstract {
    display: inline-block;
    top: 40%;
    left: 60%; 
    width: 42%;
    height: 24%;
    background: #E6E6E6 0% 0% no-repeat padding-box;
    margin-top: 20%;
    margin-right: 10%;
    opacity: 1;
    }

/*equipe*/


.team{
    display: flex;
    flex-direction: row;
    align-items:stretch;
    background: white;
    top: 2000vw;
    left: 100%;
    max-width: 700vw;
    height: 100%;
    float: left;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    letter-spacing: 0.23px;
    color: #292929;
    opacity: 1;
    margin-left: auto;
    margin-top: 60px;
    padding: 3%;
}

 h2{
    top: 84vw;
    width: 17vw;
    height: 4vw;
    text-align: left;
    font: 'Rubik', sans-serif;
    letter-spacing: 0%;
    color: #3634F7;
    font-size: 40px;
    margin-top: 20%;
    margin-right:20%
    opacity: 1;
}

.all h2{
    margin-top:20vw;
}

.team img{
    top: 75vw;
    left: 12vw;
    width: 13vw;
    height: 13vw;
    background: transparent url('img/Elipse 11.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.ima{
    top: 94vw;
    left: 12vw;
    width: 13vw;
    height: 13vw;
    background: transparent url('img/Elipse 11.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 90px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 8%;
}

.team h3{
    top: 50%;
    left: 150%;
    width: 50%;
    height: 50%;
    color: var(--unnamed-color-292929);
    align-items:center;
    text-align: center;
    justify-content:space-between;
    margin-left: 20%;
    font: Rubik, sans-serif;
    letter-spacing: 0px;
    color: #292929;
    opacity: 1;
}

.team p{
    top: 80%;
    left: 50%;
    width: 100%;
    height: 80%;
    align-items: center;
    text-align: justify;
    justify-content: space-between;
    margin-top: 15%;
    font-size: 80px;
    font: 'Rubik', sans-serif;
    padding: 10px;
    letter-spacing: 0.23px;
    color: #292929;
    font-size: 60%;
    opacity: 1;
}

.team a{
    width: 10px;
    height: 50px;
    background: var(--unnamed-color-d842bd) 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
}

.redes{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40%;
}

.box-one{
    top: 40%;
    left: 40%;
    width: 40%;
    height: 100%;
    background: transparent url('img/Elipse 11.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px;
    border: 1px solid #5538EE24;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #5538EE14;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: spacing-between;
}

.box-two{
    top: 40%;
    left: 40%;
    width: 40%;
    height: 100%;
    background: transparent url('img/Elipse 11.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px;
    border: 1px solid #5538EE24;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #5538EE14;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: spacing-between;
}


.box-three{
    top: 40%;
    left: 40%;
    width: 40%;
    height: 100%;
    background: transparent url('img/Elipse 11.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px;
    border: 1px solid #5538EE24;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #5538EE14;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: spacing-between;
}

.box-four{
    top: 40%;
    left: 40%;
    width: 40%;
    height: 100%;
    background: transparent url('img/Elipse 11.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px;
    border: 1px solid #5538EE24;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #5538EE14;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: spacing-between;
}

.box-five{
    top: 40%;
    left: 40%;
    width: 40%;
    height: 100%;
    background: transparent url('img/Elipse 11.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 10px;
    border: 1px solid #5538EE24;
    border-radius: 10px;
    box-shadow: 0px 5px 10px #5538EE14;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: spacing-between;
}

/*parte final da pagina - footer*/
footer {

    background-color: fuchsia;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
        
   }

   footer p{
    color: #FFFFFF;
    font-weight: 400px;
    font-size: 1.5625em;
}

@media only screen and (max-width: 940px) {
    
    .abstract{
        width: 700px;
        margin-left: 30px;
        margin-top: 10.5em;
    }

    .imgabstract{
        width: 10px

    }

    h1{
        font-size: 4.75em;
    }
    h2{
        font-size: -10px;
    }  

}

@media only screen and (max-width: 768px){
    .abstract{
        width: 32%;
        margin-left: 2%;
        margin-top: 10.5em;
    }
    .logo img {
        margin-left: 15px;
}
    .icon-hm {
        width: 110px;
        padding-left: 10px;
}
    .icon-lg {
        width: 110px;
        padding-left: 10px;
}
    .imgabstract{
        margin-top: 480px;
        margin-left: -170px;
        padding: 12px 66px 0 15px;
}

    h1{
        font-size: 3em;
        margin-left: 1.7em;
}

    h2{
        margin-top:-15px;
        margin-left:10px;
        font-size: 30px;
        margin-left: 50px;
}

    .abstract p {
        width: 600px;
        margin-left: 50px;
}

    .redes{
        width: 110px;
        height: 100px;

    }
    .footer p{
        font-size: 1.19em;
}

@media only screen and (max-width: 535px){
    .abstract {
        width: 380px;
        margin-left: 30px;
        margin-top: 10.5em;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 15px;
    }  

   .button{
        width: 300px;
        height: 149px;
    }
        
    #logo{
        width: 150px;
        height: 10px;
        margin-left:-35px;
    }

}
